<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/login.css">
</head>

<body>
    <section id="container">
        <section id="containerPai">
            <section id="containerFilho">
                <form action="" method="POST">
                    <h3>Nome <input type="text" name="user_name" /></h3>
                    <h3>Senha <input type="password" name="user_password" /></h3>
                    <div class="formButtons">
                        <h3><input type="submit" value="Entrar" />
                            <a alt="Login" href="{{ url_for('start_page') }}"><input type="button" value="Voltar" /></a>
                        </h3>
                    </div>
                </form>
            </section>
        </section>
    </section>
</body>

</html>