hr {
  width: 90%;
}

button{
  display: block;
  margin: 0 auto;
  width: 50%;
  font-size: 1.1rem;
  text-align: center;
}

.emPartida{
  margin: 0px;
  margin-bottom: 5px;
}

.jogador{
  margin: 0px;
  margin-bottom: 5px;
}

body {
  background: #000;
  color: #fff;
  padding: 25px;
  font-family: sans-serif;
  margin: 0px;
}

.interacoes{
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.fichas{
  flex-direction: column;
  display: flex;
  justify-content: center;
}

img {
  width: 50px;
}

img.saibaMais {
  width: 20px;
  height: 20px;
}

header {
  display: flex;
}

#textTopBar {
  margin-left: 0px;
}

main button {
    margin-bottom: 25px;
}

footer button {
  margin-right: 20px;
}

footer{
  display: flex;
  justify-content: center;
}


.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #ffffff;
  z-index: 9;
}

.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: #000000;
}