body {
  width: 1080px;
  height: 1920px;
  background: #000;
  color: #fff;
  padding: 25px;
  font-family: sans-serif;
}

img {
  width: 50px;
}

img.saibaMais {
  width: 20px;
  height: 20px;
}

header {
  display: flex;
}

#textTopBar {
  margin-left: 30px;
}

#imageTopBar  {
    margin-top: 25px;
}

main button {
    margin-bottom: 25px;
}

footer button {
  margin-right: 20px;
}


.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #ffffff;
  z-index: 9;
}

.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: #000000;
}